/set type=dir uname=root gname=wheel mode=0755
.
    cdrom
    ..
    home
    ..
    brj@livecd
    ..
    mfs
    ..
    mnt
        dos.1
        ..
        dos.2
        ..
        dos.3
        ..
        dos.4
        ..
        ext2fs.1
        ..
        ext2fs.2
        ..
        ext2fs.3
        ..
        ext2fs.4
        ..
        ntfs.1
        ..
        ntfs.2
        ..
        ntfs.3
        ..
        ntfs.4
        ..
        tmp
        ..
        ufs.1
        ..
        ufs.2
        ..
        ufs.3
        ..
        ufs.4
        ..
    ..
    stand
    ..
    usr
        local
            etc
            ..
        ..
    ..
..
