port cuaa0
debug 4
fax-id 7 3912 564072
speed 38400
direct NO
blocking NO
port-owner uucp
port-group uucp
port-mode 0660
toggle-dtr YES
toggle-dtr-waittime 500
data-only YES
fax-only NO
modem-type auto
init-chat "" \d\d\d+++\d\d\dATZ OK AT&H1E0&U8 OK
modem-check-time 3600
rings 1
answer-chat "" ATA CONNECT \c \r
answer-chat-timeout 30
autobauding NO
ringback NO
ringback-time 30
ignore-carrier false
issue-file /etc/issue
prompt-waittime 30
login-prompt login: 
login-time 30
diskspace 1024
notify faxadmin
fax-owner uucp
fax-group modem
fax-mode 0660

