{% extends "layout.html" %}
{% import 'snippets/forms.html' as forms %}

{% block content %}
    <div class="row">
        <div class="span8 offset4">
            <div class="box">
                {% call forms.form(id='settings-form', legend=title, class='form-horizontal', action='') %}
                    {{ form.hidden_tag() }}

                    {{ forms.field(form.min) }}
                    {{ forms.field(form.max) }}

                    <div class="form-actions">{{ forms.submit('Сохранить') }}</div>
                {% endcall %}
            </div>
        </div>
    </div>
{% endblock content %}
